<div class="mt-5">
   <div *ngIf="!showVideo">
      <app-advertising></app-advertising>
      <div (click)="onShowVideo()" class="text-sm text-500 mt-3 flex justify-content-end gap-1">
         <i class="pi pi-youtube text-red-500"></i><span class="pointer underline">Ver Demo</span>
      </div>
   </div>
   <div class="mt-5" *ngIf="showVideo">
      <div class="video-wrapper mb-2">
         <iframe [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
      </div>
      <div *ngIf="false" class="text-center">
         <button class="bcp-button" style="border-radius: 6px !important;">
            <a [href]="linkSoporteBcp" target="_blank" class="text-sm">
               Información
            </a>
         </button>
      </div>
   </div>
</div>
