<div class="flex align-items-center gap-2">
   <img src="bcp/icon-light.svg" width="15"><strong>BCP FAKE</strong>
</div>
<p>
   Potencia tu negocio con una banca 100% realista:<br>
</p>
<div class="text-sm mb-3">
   <strong>¿Qué puedes hacer?</strong>
   <ul class="list-none p-0 mt-1 mb-2">
      <li>✅ <strong>Transferencias bancarias</strong> con interfaz idéntica al BCP.</li>
      <li>✅ <strong>Yapeos y cobros digitales</strong> con interfaz idéntica al BCP.</li>
      <li>✅ <strong>Pagos de servicios</strong> (luz, agua, teléfono, pagoefectivo) para procesar ventas.</li>
   </ul>
</div>

<div class="text-sm">
   <strong>Beneficios clave:</strong>
   <ul class="list-none p-0 mt-1 mb-2">
      <li>🔹<strong>Simula ventas</strong>, genera confianza y demuestra profesionalismo en tus clientes.</li>
      <li>🔹<strong>Almacenamiento local</strong>, todas tus operaciones se almacenan sin internet.</li>
      <li>🔹<strong>Acceso directo</strong> desde este link, no necesitas descargar nada.</li>
   </ul>
</div>
