<div class="text-center px-3 pt-5">
   <div class="font-semibold mb-2">
      Instala la aplicación <br> para continuar
   </div>
   <div class="mb-3">
      <small class="text-gray-500">
         Esta aplicación está diseñada exclusivamente para uso en dispositivos móviles.
         Debes <strong>agregar a tu pantalla de inicio</strong> o instalar el APK para continuar.
      </small>
   </div>
   <div (click)="instalarPWA()" class="pointer text-center text-primary font-semibold text-sm mb-3">
      AGREGAR PANTALLA INICIO
   </div>
</div>
