<div class="mt-5 flex flex-column gap-3">

   <p-fieldset legend="¿Cuánto debo pagar para quitar la marca de agua?" [toggleable]="true">
      <p>
         Debes adquirir un plan de suscripción mensual. Si no realizas el pago, perderás el acceso a la aplicación.
      </p>
   </p-fieldset>

   <p-fieldset legend="¿La aplicación escanea códigos QR?" [toggleable]="true">
      <p>
         No. La app analiza imágenes de vouchers o comprobantes previos, y detecta automáticamente el nombre del
         titular.
      </p>
   </p-fieldset>

   <p-fieldset legend="¿Es necesario crear contactos?" [toggleable]="true">
      <p>
         Sí. Para simular pagos necesitas guardar los datos de tus contactos y luego seleccionarlos al realizar la
         simulación.
      </p>
   </p-fieldset>


</div>
