<div class="bg-yape-auth">
   <div *ngIf="slide === 0" class="px-5">
      <div class="flex flex-column min-h-screen">
         <div class="flex align-items-center justify-content-between">
            <div class="text-2xl text-white font-bold py-4">Yape Fake</div>
            <a (click)="onVerTutorial('register')" class="text-white py-2">
               <i class="text-2xl pi pi-question-circle"></i>
            </a>
         </div>
         <div class="flex-1 flex justify-content-center align-items-center">
            <div>
               <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true" [autoplayInterval]="4000"
                  [showNavigators]="false" [page]="0">
                  <ng-template let-item pTemplate="item">
                     <div class="flex flex-column justify-content-center align-items-center">
                        <img [src]="item.img" [alt]="item.title" class="w-full mb-3" style="max-width: 200px;" />
                        <div class="text-center text-white mb-3">
                           <p class="text-xl font-semibold mt-0 mb-3" [innerHTML]="item.title"></p>
                           <p class="text-gray-300 my-0" [innerHTML]="item.description"></p>
                        </div>
                     </div>
                  </ng-template>
               </p-carousel>
            </div>
         </div>
         <div style="height: 225px;">
            <button (click)="slide = 1" pButton class="w-full py-3 mb-3" label="Crear una cuenta">
            </button>
            <button (click)="slide = 2" pButton class="w-full py-3  mb-3 p-button-outlined p-button-secondary"
               label="Ya tengo una cuenta Yape" style="background-color: #8C3D99; color: #fff; border-color: #8C3D99;">
            </button>
         </div>
      </div>
   </div>
   <div *ngIf="slide === 1" class="flex flex-column min-h-screen">
      <div class="p-4">
         <div class="flex justify-content-between align-items-center">
            <div class="flex align-items-center text-white ">
               <div (click)="onBack()" class="pointer flex align-items-center">
                  <i class="text-xl pi pi-angle-left mr-2"></i>
               </div>
               <span class="text-xl font-semibold">Crear una Cuenta</span>
            </div>
         </div>
         <div class="text-sm">
            <p class="text-gray-300 text-justify mt-4 mb-3">
               Completa el formulario. Recuerda que todos los datos son obligatorios y no se podran cambiar.
            </p>
            <div class="border-round-lg p-3" style="background: #FEC007;">
               <div class="flex align-items-center gap-2">
                  <i class="pi pi-times-circle"></i>
                  La cuenta es personal, si se detecta que está siendo compartida
                  puede llegar a un baneo temporal del servicio.
               </div>
            </div>

         </div>
      </div>
      <div class="bg-yape-form flex-1 px-4">
         <form [formGroup]="Form" class="py-3 my-5" autocomplete="off">
            <div class="form-group mb-5">
               <input type="text" class="form-input" placeholder=" " id="titular" formControlName="titular">
               <label class="form-label" for="titular">Titular</label>
               <small *ngIf="hasError('titular', 'required')" class="text-red-400">
                  Este campo es obligatorio.
               </small>
            </div>
            <div class="form-group mb-5">
               <input type="email" class="form-input" placeholder=" " id="email" formControlName="email">
               <label class="form-label" for="email">Correo electrónico</label>
               <small *ngIf="hasError('email', 'required')" class="text-red-400">
                  Este campo es obligatorio.
               </small>
               <small *ngIf="hasError('email', 'pattern')" class="text-red-400">
                  Solo se permiten correos gmail, outlook o hotmail.
               </small>
            </div>
            <div class="form-group mb-5">
               <input type="tel" maxlength="9" class="form-input" placeholder=" " id="phone" formControlName="phone"
                  (keypress)="onlyNumbers($event)">
               <label class="form-label" for="phone">Celular</label>
               <small *ngIf="hasError('phone', 'required')" class="text-red-400">
                  Este campo es obligatorio.
               </small>
               <small *ngIf="hasError('phone', 'pattern')" class="text-red-400">
                  Debe ingresar 9 dígitos.
               </small>
            </div>
            <div>
               <button (click)="onGrabar()" [loading]="loadButton" pButton type="button" class="w-full py-3 my-2"
                  label="Registrar">
               </button>
            </div>
         </form>
      </div>

   </div>
   <div *ngIf="slide === 2" class="flex flex-column min-h-screen">
      <div class="p-4">
         <div class="flex justify-content-between align-items-center">
            <div class="flex align-items-center text-white ">
               <div (click)="onBack()" class="pointer flex align-items-center">
                  <i class="text-xl pi pi-angle-left mr-2"></i>
               </div>
               <span class="text-xl font-semibold">Ingresar</span>
            </div>
         </div>
      </div>
      <div class="px-5 mx-5 text-center">
         <img src="auth/login.webp" alt="" class="mb-5" width="200" height="248">
      </div>
      <div class="bg-yape-form flex-1 p-4">
         <form [formGroup]="Form" class="py-3 my-5" autocomplete="off">
            <ng-container *ngIf="userFree">
               <div class="form-group mb-5">
                  <input type="email" class="form-input" placeholder=" " id="email" formControlName="email">
                  <label class="form-label" for="email">Correo electrónico</label>
                  <small *ngIf="hasError('email', 'required')" class="text-red-400">
                     Este campo es obligatorio.
                  </small>
                  <small *ngIf="hasError('email', 'pattern')" class="text-red-400">
                     Solo se permiten correos gmail, outlook o hotmail.
                  </small>
               </div>
            </ng-container>
            <ng-container *ngIf="!userFree">
               <div class="form-group mb-5">
                  <input type="tel" maxlength="6" class="form-input" placeholder=" " id="pin" [formControl]="pin"
                     (keypress)="onlyNumbers($event)" />
                  <label class="form-label" for="pin">PIN</label>

                  <small *ngIf="hasErrorPin('required')" class="text-red-400">
                     Este campo es obligatorio.
                  </small>

                  <small *ngIf="hasErrorPin('pattern')" class="text-red-400">
                     Debe ingresar 6 dígitos.
                  </small>
               </div>
            </ng-container>
            <div class="mb-3">
               <button (click)="onIngresar()" [loading]="loadButton" pButton type="button" class="w-full py-3 my-2"
                  label="Ingresar">
               </button>
            </div>
            <ng-container *ngIf="false">
               <div *ngIf="!isMigrate" class="text-center text-600">
                  <a (click)="onChangeTypeUser()" class="underline text-sm">
                     <span *ngIf="userFree">Soy usuario antiguo y tengo un PIN</span>
                     <span *ngIf="!userFree">Soy usuario nuevo</span>
                  </a>
               </div>
            </ng-container>
         </form>
      </div>
   </div>
   <div *ngIf="slide === 3" class="flex flex-column min-h-screen bg-yape-form">
      <div class="p-4">
         <div class="flex justify-content-between align-items-center">
            <div class="flex align-items-center">
               <div class="flex align-items-center">
                  <i class="text-yape text-xl pi pi-verified mr-2"></i>
               </div>
               <span class="text-xl  font-semibold">Validar Código</span>
            </div>
         </div>
      </div>
      <div class="px-4">
         <p>
            Te hemos enviado un código de verificación a <strong>{{ emailMask }}</strong>.
            Revisa tu correo electrónico y colócalo aquí para continuar.
         </p>
         <div class="text-center py-3">
            <span class="block mb-3">Ingresa el código de 6 dígitos.</span>
            <ng-container *ngIf="loading">
               <code-input [codeLength]="6"></code-input>
            </ng-container>
            <ng-container *ngIf="!loading">
               <code-input [isCodeHidden]="false" [codeLength]="6" (codeCompleted)="onCodeCompleted($event)">
               </code-input>
            </ng-container>
         </div>
         <div class="text-center text-yape mt-3">
            <a [href]="linkSoporte" target="_blank" class="underline">¡No me llegó el Correo!</a>
         </div>
      </div>
   </div>
   <div *ngIf="slide === 4" class="flex flex-column min-h-screen">
      <div class="flex-1 md:align-content-center">
         <div class="text-white pt-5 mt-5 text-center">
            <img src="auth/password.webp" width="180" height="180">
            <div class="text-xl font-semibold mb-3">Crear tu clave Yape</div>
            <div class="text-300">Clave de 6 digitos</div>
         </div>
      </div>
      <div class="border-round-top-2xl md:py-5">
         <div class="text-center mb-5" style="align-content: center;">
            <div style="height: 30px; color: #fff; align-content: center;">
               <span class="text-lg font-semibold">{{ mensajeClave }}</span>
            </div>
            <div class="flex justify-content-center gap-3">
               <span *ngFor="let i of [0,1,2,3,4,5]; let idx = index" class="text-5xl font-bold"
                  [ngStyle]="{ color: idx < pinTeclado.length ? '#FFFFFF' : '#8C3D99', transition: 'color 0.3s ease'}">
                  •
               </span>
            </div>
         </div>

         <div class="px-5 pb-5 mb-5">
            <div class="grid">
               <ng-container *ngFor="let item of teclado">
                  <div class="col-4" style="padding: 0.2rem !important;">
                     <button class="w-full text-2xl font-semibold border-round-lg border-none pointer text-white"
                        (click)="onClick(item)" style="padding: 0.7rem; font-family: 'Roboto';"
                        [ngStyle]="{ background: item.tipo === 'numero' ? '#8C3D99' : 'transparent', color: '#fff' }">
                        <ng-container [ngSwitch]="item?.tipo">
                           <ng-container *ngSwitchCase="'numero'">
                              {{ item.valor }}
                           </ng-container>
                           <ng-container *ngSwitchCase="'borrar'">
                              <div>
                                 <i class="pi pi-times-circle text-2xl"></i>
                              </div>
                           </ng-container>
                        </ng-container>
                     </button>
                  </div>
               </ng-container>
            </div>
         </div>
      </div>

   </div>
</div>


<p-dialog [(visible)]="loading" [modal]="true" [style]="{ width: '16rem' }" [maximizable]="true" [showHeader]="false">
   <div class="pt-3 mb-2 text-center">
      <div class="mt-3">
         <i class="text-primary pi pi-spin pi-spinner font-semibold"></i>
      </div>
      <div class="mt-2 font-bold">
         Validando datos
      </div>
   </div>
</p-dialog>
