<div class="flex align-items-center justify-content-center gap-2 mt-3 mb-1">
   <button pButton type="button" class="p-button-info p-button-outlined" icon="pi pi-telegram"
      (click)="abrirEnlace(linkTelegram)">
   </button>
   <button pButton type="button" class="p-button-help p-button-outlined" icon="pi pi-instagram"
      (click)="abrirEnlace(linkInstagram)">
   </button>
   <button pButton type="button" class="p-button-success p-button-outlined" icon="pi pi-whatsapp"
      (click)="abrirEnlace(linkSoporte)">
   </button>
</div>
<div class="text-center text-gray-500 text-sm">
   <small>Desarrollado por Lguss</small>
</div>
